<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let token ='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjg1Mjc3NTk0LCJpYXQiOjE2ODI2ODU1OTQsImp0aSI6IjFkY2YzZGYwZDVkYTQ3N2JiMjg1OTMzZWE0MTFkMWQ4IiwidXNlcl9pZCI6MX0.GsIQWm-uihebC_gGObguPGkCgqFSXmtK1kIm4P_xjjE'
        
        const endpoint="ws://localhost:8000/ws/chat/"
        const chatSocket = new WebSocket(
            // 'ws://'
            // + window.location.host
            // + ''
            endpoint
            + roomName
            + '/'
            +"?token=" 
            + token
        );
//         setInterval(function(){
//   var object = {"message":"ARandonMessage"};
//   object = JSON.stringify(object);
//   chatSocket.send(object);
// },/*The time, I suggest 40 seconds, so*/ 40000)

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command' : 'add_messages'
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>