<html>

<body>
    <p><b>Dear {{username}},</b></p>

    <p>
        We're excited to share your latest recycling achievements! Here's how you contributed to a cleaner, 
        more sustainable future this past week:
    </p>

    <hr>

    <p><strong>Your Recycling Impact:</strong></p>
    <ul>
        <li><b>Plastic Bottles Recycled:</b> {{ bottles_number }} bottles</li>
        <li><b>Aluminum Cans Recycled:</b> {{ cans_number }} cans</li>
        <li><b>Other Materials (Rejected):</b> 0 </li>
    </ul>

    <hr>

    <p><b>Points Earned:</b> {{ total_points }} 🏅</p>
    <p><b>Current Leaderboard Rank:</b> 20 </p>

    <p>
        You're making a real difference, and it's great to see your progress. Every bottle and can counts 
        toward creating a greener tomorrow!
    </p>

    <hr>

    <p><strong>Competitions & Rewards</strong></p>
    <p>You're 20 points away from unlocking your next reward! Don't forget to check the app for the latest competitions and chances to earn bonus points.</p>

    <hr>

    <p><strong>Pro Tip for Next Week:</strong></p>
    <p>Earn more points by recycling during off-peak hours! You'll make an even bigger impact and climb the leaderboard faster.</p>

    <hr>

    <p>
        Thank you for being part of Drop Me's mission to reduce waste and make recycling second nature. 
        Let's keep up the great work and aim for even greater results next week!
    </p>

    <p>
        If you have any questions or suggestions, feel free to reach out—we're always here to help.
    </p>
    <p>
        Together, we can create a cleaner, greener world! 🌍
    </p>

    <p><b>Best regards,</b></p>
    <p>Drop Me Team</p>

    <p>
        <a href="mailto:hello@dropmeeg.com">Contact Information</a> | 
        <a href="https://linktr.ee/dropme.eg">Follow us on Social Media</a>
    </p>

    <hr>

    <p>
        <b>Track Your Progress Anytime:</b> <a href="app_link">App Link</a><br>
        <b>Stay Connected for Updates & Competitions:</b> <a href="website_link">Website Link</a>
    </p>
</body>

</html>
