<html lang="{{ language }}">
<body style="font-family: Arial, sans-serif; text-align: center;">
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>

    <!-- App Store and Google Play Icons -->
    <div style="margin-top: 20px;">
        <a href="https://play.google.com/store/apps/details?id=com.dropme.recycling&hl=en" target="_blank">
            <img src="https://s3.us-east-005.backblazeb2.com/dropmemedia/special_offers/sp/get-it-on-google-play-logo-png-transparent.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=00540dfab6a6ace0000000001%2F20250323%2Fus-east-005%2Fs3%2Faws4_request&X-Amz-Date=20250323T174324Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=b0eb0fede130fb9a24eb8d8d1f3839dc95bcca216cebfb7502bc59dcd24f0942" 
                 alt="Get it on Google Play" width="160" style="margin: 10px;">
        </a>
        <a href="https://apps.apple.com/app/idyourappid" target="_blank">
            <img src="https://s3.us-east-005.backblazeb2.com/dropmemedia/special_offers/sp/available-on-the-app-store-logo-png-transparent.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=00540dfab6a6ace0000000001%2F20250323%2Fus-east-005%2Fs3%2Faws4_request&X-Amz-Date=20250323T174107Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=7abbfcb141c1d921ff9bece24091bd0781ae6a9702992cb98e05b702cfb63daa" 
                 alt="Download on the App Store" width="160" style="margin: 10px;">
        </a>
    </div>
</body>
</html>
