<html>

<body>
    <p>Dear {{username}},</p>

    <p>Welcome to DropMe! We're thrilled to have you onboard.</p>
    <p>
        To complete your account setup, please use the following OTP: <strong>{{otp}}</strong>.
    </p>

    <p>
        This code will expire in 5 minutes.
    </p>

    <p>
        Please ensure that you keep this OTP confidential and do not share it with anyone. We take the security of our
        users' accounts seriously and would never ask you to share your OTP with anyone, including our support team.
    </p>
    <p>
        If you did not attempt to sign up for DropMe, please disregard this email.
    </p>

    <p>Thank you for choosing DropMe. We're excited to have you as a part of our community.</p>

    <p>Best regards,</p>
    <i>DropMe Team</i>
</body>

</html>