<html lang="ar">
<body dir="rtl">

    <p><b>عزيزي/عزيزتي {{username}},</b></p>

    <p>لقد تلقينا طلبًا لإعادة تعيين كلمة المرور الخاصة بحسابك على Drop Me. لإتمام العملية، الرجاء استخدام رمز التحقق لمرة واحدة (OTP) التالي للتحقق من هويتك:</p>

    <p><strong>رمز التحقق: {{otp}}</strong></p>

    <p>هذا الرمز صالح لمدة 5 دقائق. يرجى الحفاظ على سرية هذا الرمز وعدم مشاركته مع أي شخص. لأسباب أمنية، لن نطلب منك أبدًا مشاركة هذا الرمز، حتى مع فريق الدعم لدينا.</p>

    <p>إذا لم تطلب إعادة تعيين كلمة المرور، يرجى تجاهل هذا البريد الإلكتروني أو الاتصال بفريق الدعم الخاص بنا فورًا.</p>

    <p>شكرًا لاستخدامك Drop Me. نحن هنا للمساعدة!</p>

    <p><b>أطيب التحيات،</b><br>فريق Drop Me</p>

</body>
</html>