<html>
<body>

    <!-- Password Reset Email Content -->
    <p><b>Dear {{username}},</b></p>

    <p>We received a request to reset your Drop Me password. To proceed, please use the following One-Time Password (OTP) to verify your identity:</p>

    <p><strong>OTP Code: {{otp}}</strong></p>

    <p>This code is valid for the next 5 minutes. Please ensure that you keep this OTP confidential and do not share it with anyone. For security reasons, we will never ask you to provide this code to anyone, including our support team.</p>

    <p>If you did not request a password reset, please disregard this email or contact our support team immediately.</p>

    <p>Thank you for using Drop Me. We're here to help!</p>

    <p><b>Best regards,</b><br>The Drop Me Team</p>

</body>
</html>