<html>

<body>
    <p>Dear {{username}},</p>

    <p>We received a request to reset your password for DropMe. If you did not make this request, please disregard this email.</p>

    <p>To reset your password, please use the following OTP: <strong>{{otp}}</strong>.</p>
    
    <p>Please note that this code will expire in 5 minutes, so please reset your password as soon as possible.</p>

    <p>If you continue to experience any issues, please contact our support team at dropme.project@gmail.com.</p>

    <p>Thank you for choosing DropMe. We value your security and are committed to protecting your account.</p>

    <p>Best regards,</p>

    <i>DropMe Team</i>
</body>

</html>