<html>

<body>
    <p>Dear {{username}},</p>

    <p>
        Welcome to the Drop Me community! We're excited to have you on board as we work together towards a cleaner, 
        more sustainable environment. By joining Drop Me, you've taken the first step in transforming how we manage waste, 
        recycle, and contribute to a greener future.
    </p>

    <p>
        Through our app, you can:
        <ul>
            <li>Easily recycle and track your impact through our smart recycling vending machines.</li>
            <li>Earn rewards and participate in exciting competitions as you recycle responsibly.</li>
            <li>Access insights on your recycling efforts, and view the total items you've recycled to follow your progress.</li>
        </ul>
        At Drop Me, we believe in empowering communities with AI-driven, innovative solutions to reduce landfill waste and boost recycling by 40%. Together, we aim to reduce waste and build a sustainable future for all.
    </p>

    <p>
        If you have any questions or need assistance, feel free to reach out to our support team at hello@dropmeeg.com We're here to help!
    </p>

    <p>
        Thank you for choosing Drop Me. Let's make every item count!
    </p>

    <p>Warm regards,</p>
    <i>DropMe Team</i>
</body>

</html>